#school-container {
  text-align: center;
}

#school-container .school-card {
  display: inline-block;
  width: 25%;
  margin: 10px;
}

#school-container .school-header-image {
  background-image: url('images/icon.png');
  background-size: cover;
}

mat-card-title {
  font-size: 120%;
  font-weight: bold;
}

mat-form-field {
  width: 50px;
}
