nav {
  background: black;
  position: sticky;
  top: 2px;
  z-index: 9999999;
}
nav a {
  padding: 15px 50px;
  display: inline-block;
  color:white;
  text-decoration: none;
  background: black;
}

#sign-in {
  position: absolute;
  right:5px;
  top:5px;

}
