<section>

  <div id="school-container" *ngIf="school">
    <div class="school_content">
    <h1 class="title">{{school.schoolName | uppercase}}</h1>
    <img mat-card-image src="/assets/images/school.txt" alt="{{school.avatar}}" />
    <div style="color:red;">{{school.rates.length}} đánh giá</div>    
    <div id="avg-rate-container" *ngIf="mode==INFO">
      <div class="field" *ngFor="let avg of school.averageRates">
        {{avg.rateCriteria.criteriaName}}:
        <bar-rating [(rate)]="avg.avgValue" [max]="5"
          [theme]="'stars'" [readOnly]="true">
        </bar-rating>
      </div>
    </div>
    <hr/>
    <div>
      <b>Mã trường</b>: {{school.schoolCode}}
    </div>
    <div>
      <b>Website</b>: {{school.website}}
    </div>
    <div>
      <b>Số điện thoại</b>: {{school.phone}}
    </div>
    <div>
      <b>Email</b>: {{school.email}}
    </div>
  </div>
  <div class="school_Image" *ngIf="imageSources.length>0">
      <slideshow [height]="height"
      [minHeight]="'350px'"
      [autoPlay]="true"
      [showArrows]="true"
      [imageUrls]="imageSources"
      [stopAutoPlayOnSlide]="false"
      [lazyLoad]="imageSources?.length > 1"
      [autoPlayWaitForLazyLoad]="true">
</slideshow>
  </div>
    <app-info [school]="school" [schoolDetail]="this" *ngIf="mode==INFO">
    </app-info>
    <app-review [school]="school" [schoolDetail]="this" *ngIf="mode==REVIEW">
    </app-review>
    <app-dynamic-template id="dynamic-template" [url]="'/assets/pages/'+school.schoolCode+'.html'" *ngIf="mode==ABOUT">
    </app-dynamic-template>
  </div>
</section>
