.title {
  color: red;
}

#school-container img {
  width: 400px;
}

#avg-rate-container {
  width: 60%;
}

#avg-rate-container .field {
  display: inline-block;
  margin: 0 10px;
}
.school_content{
  display: inline-block;
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
}
.school_Image{
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  vertical-align: top;
  padding: 15px 15px 15px 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}