<section id="hero">
  <div class="container" style="top:145px">
    <div class="box-search-job box">
      <form method="get" id="frm-search-job" #fSearch="ngForm" ngForm="SearchForm()">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center"><b>Tìm kiếm  ngôi trường mơ ước của bạn cùng UniStart</b></h1>
          </div>
          <div class="search-page" style="padding-bottom: 30px">
              <select2 class="form-group major" [data]="listMajor| async" [value]="valueMajor" (valueChanged)="changedMajor($event)"
                       [options]="optionMajor" style="padding: 15px"></select2>
              <select2 class="form-group location" [data]="listLocation| async" [value]="valueLocation" (valueChanged)="changedLocation($event)"
                       [options]="optionLocation" style="padding: 15px"></select2>
              <select2 class="form-group university" [data]="listUniName | async" [value]="valueUniversity" (valueChanged)="changedUniversity($event)"
                       [options]="optionUni" style="padding: 15px"></select2>
          </div>
        </div>
        <div class="text-center">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn" type="submit" (click)="searchUniversity()"><i class="fa fa-search" aria-hidden="true"></i>Tìm Ngay</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!--Show search-->
<div *ngIf="show" id="main" style="background-color: white">
  <div class="container" style="margin-top: -65px;">
    <div class="row text-center" id="showsearch">
      <div class="col-lg-4 col-sm-6 portfolio-item hero-feature"
           *ngFor="let university of listSearch | paginate: { itemsPerPage:6, currentPage: p }">
        <div class="thumbnail">
          <div style="padding: 20px" *ngIf="university && university.logo">
            <a [routerLink]="['/university',university.id]">
              <img src="{{university.logo}}" alt="">
            </a>
          </div>
          <div style="padding: 20px" *ngIf="!university.logo">
            <a [routerLink]="['/university',university.id]">
              <img src="../../../assets/image/image-not-found.png">
            </a>
          </div>
          <div class="caption">
            <div style="min-height: 55px; border: 1px solid white"><p class=""><b>{{university.name}}</b></p></div>
            <div style="min-height: 35px; border: 1px solid white"><p>{{university.phone}}</p></div>
            <div>
              <p>
                <button [routerLink]="['/university',university.id]" class="btn btn-success"><i
                  class="fa fa-hand-o-right"></i> Thông Tin
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center"><pagination-controls (pageChange)="p =$event" previousLabel="" nextLabel=""></pagination-controls></div>
  </div>
</div>

<div *ngIf="show == false" class="not-found">
  <div class="not-found-detail">
    Không có kết quả nào phù hợp
  </div>
</div>
<!-- End show search-->


<!--News university-->
<div class="row" id="news-uni">
  <div class="col-lg-12 text-dark-gray text-center">
    <h2 style="color: black">MỘT SỐ NGÀNH NỔI BẬT HIỆN NAY</h2>
    <ul>
      <!--<li [routerLink]="['app-view-major-university',4314]"> Công nghệ thông tin </li>-->
      <li class="box-title bold list-major active" (click)="getTopThreeMajor('4314')"> Công nghệ thông tin</li>
      <li class="box-title bold list-major" (click)="getTopThreeMajor('4308')"> Quản trị kinh doanh</li>
      <li class="box-title bold list-major" (click)="getTopThreeMajor('4309')"> Tài chính – Ngân hàng</li>
      <li class="box-title bold list-major" (click)="getTopThreeMajor('4327')"> Y Dược</li>
      <li class="box-title bold list-major" (click)="getTopThreeMajor('4356')"> Quốc phòng - An ninh</li>
    </ul>
    <hr class="featurette-divider">
  </div>
  <div class="row">
    <a [routerLink]="['/app-view-major-university',valueCurrent]" class="see-more">
      Xem thêm <i class="fa fa-caret-right"></i></a>
  </div>
  <div class="row text-center" style="height: 370px">
    <div class="col-lg-4 col-sm-6 portfolio-item hero-feature"
         *ngFor="let university of searchMajor">
      <div class="thumbnail">
        <div style="padding: 20px" *ngIf="university && university.logo">
          <a [routerLink]="['/university',university.id]">
            <img src="{{university.logo}}" alt="">
          </a>
        </div>
        <div style="padding: 20px" *ngIf="!university.logo">
          <a [routerLink]="['/university',university.id]">
            <img src="../../../assets/image/image-not-found.png">
          </a>
        </div>
        <div class="caption">
          <div style="min-height: 55px; border: 1px solid white"><p class=""><b>{{university.name}}</b></p></div>
          <div>
            <p>
              <button [routerLink]="['/university',university.id]" class="btn btn-success"><i
                class="fa fa-hand-o-right"></i> Thông Tin
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End news university-->

<!--Modal-->




