<mat-card class="body">
  <mat-card-header>
    <h2>Tạo lịch học thêm</h2>
  </mat-card-header>
  <mat-card-content style="text-align: center">
      <mat-form-field style="width: 70%;" >
          <input matInput placeholder="Tên môn học" >
      </mat-form-field>
      <mat-form-field  >
         
          <mat-select placeholder="Màu hiển thị" [formControl]="panelColor"
          >
            <mat-option value="#F44336" style="background-color: #F44336">Đỏ</mat-option>
            <mat-option value="#4CAF50" style="background-color: #4CAF50">Lục</mat-option>
            <mat-option value="#2196F3" style="background-color: #2196F3">Lam</mat-option>
            <mat-option value="#2196F3" style="background-color: #FFEB3B">Vàng</mat-option>
            <mat-option value="#2196F3" style="background-color: #795548">Nâu</mat-option>
          </mat-select>
        </mat-form-field>   
  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect>  
<div style="display: inline-block"  *ngFor="let item of mon.listSession">
  <div style="margin: 15px;"><p>{{item.date}} :</p> <mat-form-field >
    <input matInput placeholder="Bắt đầu"  type="time" step="300">
  </mat-form-field>
  <mat-form-field >
      <input matInput placeholder="Kết thúc" type="time" step="300" >
  </mat-form-field></div>
</div>

  </mat-card-content>
</mat-card>