<mat-card class="body">
  <mat-card-header>
    <h2>Tạo lịch học thêm</h2>
  </mat-card-header>
  <mat-card-content style="text-align: center">
    <div style="width: 100%; text-align: right">
      <button mat-raised-button color="primary" (click)="createClass()">Tạo thêm lịch học</button>
    </div>

    <table mat-table [dataSource]="listClass" class="mat-elevation-z8">
      <ng-container matColumnDef="className">
        <th mat-header-cell *matHeaderCellDef>Tên </th>
        <td mat-cell *matCellDef="let element" [style.background-color]="element.color" (click)="update(element.classId)"> {{element.className}} </td>
      </ng-container>
      <ng-container matColumnDef="session">
        <th mat-header-cell *matHeaderCellDef>Lịch học </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.sessionList" style="display: inline-block; padding-left: 5px;">
            <p>{{item.date}}({{item.startTime}}-{{item.endTime}}) </p>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="control">
        <th mat-header-cell *matHeaderCellDef>Hiển thị </th>
        <td mat-cell *matCellDef="let element"><mat-slide-toggle
          class="example-margin"
          [color]="element.color"
          [checked]="true"
         >
      </mat-slide-toggle></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div id="chart">

      <mat-grid-list cols="8" rowHeight="10px">
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">

        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Thứ 2
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Thứ 3
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Thứ 4
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Thứ 5
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Thứ 6
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Thứ 7
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" style="background-color: lightslategrey">
          Chủ nhật
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="10px" *ngFor="let item of arrayOne(17);let i = index;">
        <mat-grid-tile [colspan]="1" [rowspan]="4" class="hours">
            {{i+6}}:00
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4" class="hours" *ngFor="let col of arrayOne(7)">

          </mat-grid-tile>
   
      </mat-grid-list>
      <div *ngFor="let class of chart"  >
          <div style="background: red;
          border-radius: 2px;
      position: absolute;
      width: 12.25%;" [style.background-color]="class.color" [style.height.%]="class.height" (click)="update(class.classId)"
      [style.left.%]="class.left" [style.top.%]="class.top" > <p>{{class.className}}</p><p>{{class.time}}</p></div>
    </div>
      </div>
    
  </mat-card-content>
</mat-card>
