
  mat-card.body {
    display: inline-block;
   width: 90%;
   margin-left: 5%;
   text-align: center;
  }
  mat-card-content{
    width: 90%;
  }
  table {
    width: 100%;
    text-align: left;
  }
#chart{
  border: 1px solid red;
    height: 774px;
  width: 100%;
  margin-top: 15px;
    position: relative;
    background-color: whitesmoke;
}
mat-grid-tile  {
  background-color: coral;
  border-bottom:1px solid  black;
  border-top:1px solid  black;
  border-right: 1px solid  black;
  border-left:  1px solid  black;
}
.hours{
  background-color: blanchedalmond;
  border-bottom:1px solid  black;
  border-top:1px solid  black;
  border-right: 1px solid  black;
  border-left:  1px solid  black;
}