nav {
    background: black;
    height: 50px;
}
nav a {
    padding: 10px 50px;
    display: inline-block;
    color:white;
    text-decoration: none;
    background: black;
}
app-sign-in {
   float: right;
   padding: 10px;
}