<div class="col-sm-3 hidden-xs" id="mbti">
    <ul class="nav nav-pills nav-stacked">
      <li class="ISTJ"><a routerLink="/mbti-detail/ISTJ">ISTJ - Thanh tra viên (Inspector)</a></li>
      <li class="ISTP"><a routerLink="/mbti-detail/ISTP">ISTP – Thợ thủ công (Crafter)</a></li>
      <li class="ESTJ"><a routerLink="/mbti-detail/ESTJ">ESTJ - Người giám sát (Supervisor)</a></li>
      <li class="ESTP"><a routerLink="/mbti-detail/ESTP">ESTP - Người sáng lập (Promoter)</a></li>
      <li class="ENTJ"><a routerLink="/mbti-detail/ENTJ">ENTJ - Nguyên soái (Field Marshal)</a></li>
      <li class="ISFJ"><a routerLink="/mbti-detail/ISFJ">ISFJ - Nhà tư vấn (Counselor)</a></li>
      <li class="ESFP"><a routerLink="/mbti-detail/ESFP">ESFP - Người trình diễn (Performer)</a></li>
      <li class="INTP"><a routerLink="/mbti-detail/INTP">INTP - Kiến trúc sư (Architect)</a></li>
      <li class="INFJ"><a routerLink="/mbti-detail/INFJ">INFJ - Người che chở (Protector)</a></li>
      <li class="ENFJ"><a routerLink="/mbti-detail/ENFJ">ENFJ - Giáo viên (Teacher)</a></li>
      <li class="INFP"><a routerLink="/mbti-detail/INFP">INFP - Người hoà giải (Healer)</a></li>
      <li class="ENFP"><a routerLink="/mbti-detail/ENFP">ENFP - Nhà vô địch (Champion)</a></li>
      <li class="ENTP"><a routerLink="/mbti-detail/ENTP">ENTP - Nhà phát minh (Inventor)</a></li>
      <li class="ISFP"><a routerLink="/mbti-detail/ISFP">ISFP - Nhạc sĩ (Composer)</a></li>
      <li class="ESFJ"><a routerLink="/mbti-detail/ESFJ">ESFJ - Nhà cung cấp (Provider)</a></li>
      <li class="INTJ"><a routerLink="/mbti-detail/INTJ">INTJ - Cố vấn chiến lược (Mastermind)</a></li>
    </ul>
</div>
<div class="body col-sm-9">
    <button mat-raised-button color="accent" (click)="load()" >Load question</button>
    <mat-list *ngFor="let q of quests" >
        <h3 mat-subheader>Question {{q.questionDetail}}:</h3>
        <mat-list-item *ngFor="let answer of q.listAnswer" 
        [ngStyle]="{'background-color':((q.select !== undefined)&&(q.select !== '')) ? '' : 'aliceblue' }">
            <mat-checkbox class="example-margin" [(ngModel)]=answer.check  (change)="check(q,answer.genitive.gentiveCode,answer.check)" [checked]="(answer.genitive.gentiveCode===q.select)">
              {{answer.answerDetail}} </mat-checkbox>         
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <button mat-raised-button color="accent" *ngIf="finish" (click)="getcode()" >Finish</button>
</div>
