<mat-card class="body">

  <mat-card-header>
    <h1>Tạo thời khóa biểu</h1>
 

  </mat-card-header>
  <mat-card-content style="text-align: center">
    <div class="ca">
      <mat-expansion-panel (opened)="morningOpenState = true" (closed)="morningOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ca sáng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Số tiết tối đa" type="number" min="0" max="10"  [(ngModel)]="morningNum">
        </mat-form-field>
        <!-- <button mat-button (click)="load()">Tạo</button> -->
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="noonOpenState = true" (closed)="noonOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ca chiều
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Số tiết tối đa" type="number" min="0" max="10"  [(ngModel)]="noonNum">
        </mat-form-field>
        <!-- <button mat-button (click)="load()">Tạo</button> -->
      </mat-expansion-panel>
    </div>

    <mat-grid-list cols="6" rowHeight="50px" style="text-align: center" class="schedule"  >
        <mat-grid-tile
        *ngFor="let date of week"
        [colspan]="1"
        [rowspan]="1" >
      {{date.dateTitle}}
    </mat-grid-tile>
  </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="60px" style="text-align: center" class="schedule" 
    *ngFor="let item of arrayOne(morningNum);let i = index;" >
        <mat-grid-tile class="morning"
        *ngFor="let date of week"
        [colspan]="1"
        [rowspan]="1"  (click)="openMorning(date.listLession[i],date.dateTitle)">
      {{date.listLession[i].lessionName}}
    </mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="60px" style="text-align: center" class="schedule" 
    *ngFor="let item of arrayOne(noonNum);let i = index;" >
        <mat-grid-tile class="noon"
        *ngFor="let date of week2"
        [colspan]="1"
        [rowspan]="1"   (click)="openNoon(date.listLession[i],date.dateTitle)">
        {{date.listLession[i].lessionName}}
    </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>
</mat-card>